*,
html,
body {
  font-family: $font__regular;
}

body {
  background: $color__background-body; // Fallback for when there is no custom background color defined.
  counter-reset: chapter; /* Create a chapter counter scope */

  @include media(mobile-only) {
    padding-bottom: 64px;
  }

  &.has-no-scrollbar {
    height: 100%;
    overflow: hidden;
  }
}

body.home {
  @include media(mobile-only) {
    padding-bottom: 0px;
  }
}
