/*------------------------------------*\
  #Fields elements
\*------------------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $wp-cavatina__main-primary-light-color;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $wp-cavatina__main-primary-color;
  width: 100%;
  font-size: 12px;
  min-height: max-content;

  &::placeholder {
    color: $wp-cavatina__main-primary-light-color;
    opacity: 1;
    font-weight: normal;
    font-size: 12px;

    color: $wp-cavatina__main-primary-light-color;
  }

  &:focus {
    color: $color__text-input-focus;
    outline: none;
  }

  &:active {
    color: $color__text-input-focus;
  }

  &:focus:-moz-placeholder {
    color: $color__text-input-focus;
  }

  &:focus:-ms-input-placeholder {
    color: $color__text-input-focus;
  }

  &:focus::-webkit-input-placeholder {
    color: $color__text-input-focus;
  }
}

select {
  color: $wp-cavatina__main-primary-light-color;
  border: none;
  border-radius: $global-radius;
  background-color: $wp-cavatina__neutral-gray-light-color;
  padding: 10px 14px;
}

textarea {
  width: 100%;
}

#comment {
  height: 84px;
}

[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

[type="text"],
[type="email"],
[type="url"] {
  padding-bottom: 20px;

  &::placeholder {
    font-size: 12px !important;
  }
}

.form-submit {
  .submit {
    padding: 13px 25px;
  }
}

.error {
  margin-top: 8px;
}
.c-error__title {
  padding: 10px 0 20px 0;
  color: #ff0000;
  font-family: $font__regular;
}
input.error,
textarea.error {
  color: #000000;
}

/* remore X button from inputs */
input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
