.o-page {
  width: 100%;
  height: calc(100vh);
  max-height: max-content;

  @include media(tablet) {
    //overflow-y: hidden;
    text-align: left;
    max-height: 100vh;

    //need QA
    padding-left: 7%;
  }
}

.o-page--home {
  height: max-content;
  @include media(tablet) {
    height: calc(100vh);
    padding-left: 15%;
  }
}

.o-bullet-numeric {
  height: 100%;
  width: max-content;
  display: inline-block;

  &::before {
    content: "0" counter(chapter);
    counter-increment: chapter;

    font-size: 14px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #ff3636;
    border-radius: 50%;
    font-size: 14px;
    width: 5px;
    height: 5px;
    margin-right: 8px;
    margin-left: 6px;
  }
}

.o-bullet {
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #ff3636;
    border-radius: 50%;
    font-size: 14px;
    width: 7px;
    height: 7px;
    margin-right: 8px;
    margin-left: 6px;
  }
}
