.o-page {
  width: 100%;
  height: calc(100vh);
  max-height: max-content;

  @include media(tablet) {
    overflow-y: hidden;
    text-align: right;
    max-height: 100vh;

    //need QA
    padding-left: 7%;
  }
}

.o-page--home {
  @include media(tablet) {
    padding-left: 15%;
  }
}

// .o-page {
//   width: 100%;
//   height: max-content;
//   overflow-y: hidden;
//   position: relative;
//   @include media(tablet) {
//     text-align: right;
//     max-height: 100vh;
//   }
// }
