/*------------------------------------------*\
  #Container block -> All posts => archives
\*------------------------------------------*/
.c-container {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  @include media(tablet) {
    display: inline;
  }
}

.c-container__content {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;

  @include media(tablet) {
    height: 100%;
    padding-right: 60px;
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .c-post__entery-content {
    display: none;
  }
}
