/*------------------------------------------*\
  #Container block -> All posts => archives
\*------------------------------------------*/
.c-container {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  @include media(tablet) {
    display: inline;
  }
}

.c-container__content {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;

  @include media(tablet) {
    height: 100%;
    padding-right: 60px;
    padding-top: 90px;
    padding-bottom: 0px;
  }

  @include media(wide) {
    margin-top: 100px;
    padding-top: 60px;
  }

  .c-post__entery-content {
    display: none;
  }
}

/*------------------------------------*\
  #Container Category
\*------------------------------------*/
.c-container__category {
  transition: 1s all;
  width: 100%;
  height: 70px;
  max-height: 0px;
  display: none;

  background: repeating-linear-gradient(45deg, #a12929, #030303 20px);

  @include media(tablet) {
    display: flex;
    align-content: center;
    justify-content: flex-start;
  }
}

.c-container__category.is-open {
  max-height: 70px;
}

.c-container_category__content {
  width: 35.5%;
  height: 100%;

  display: none;
  background: rgba(131, 195, 255, 0.73);
}
