/*------------------------------------*\
  #Post
\*------------------------------------*/

.c-post {
  width: 100%;
  height: max-content;
  min-height: 325px;
  text-align: left;
  padding-bottom: 68px;

  @include media(tablet) {
    width: 35%;
    margin-bottom: 56px;
    padding-bottom: 0px;
  }

  @include media(wide) {
    margin-bottom: 7%;
  }
}

.c-post--project {
  .c-post__category__anchor {
    font-size: 12px;

    @include media(tablet) {
      font-size: 14px;
    }
  }
}
.c-post--archive {
  .c-post__entry-title__anchor {
    font-size: 14px;
    line-height: 17px;
    @include media(tablet) {
      line-height: 20px;
    }
  }
}

.c-post__header {
  min-height: max-content;
  margin-bottom: 26px;
  width: 100%;

  @include media(tablet) {
    min-height: 70px;
    margin-bottom: 16px;
  }

  @include media(wide) {
    margin-bottom: 8px;
  }
}

.c-post__header__col {
  vertical-align: top;
  display: inline-block;
  height: 100%;
}

.c-post__header__col--left {
  max-width: 15%;
}

.c-post__header__col--right {
  max-width: 85%;
}

.c-post__header--space-height {
  margin-bottom: 24px;

  @include media(tablet) {
    margin-bottom: 8px;
  }
}

.c-post__entry-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
  vertical-align: top;
  margin-top: 0;
  line-height: 17px;

  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: $cavatina__main-primary-light-color;
  }

  counter-reset: section;
}

.c-post__entry-title__anchor {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $cavatina_primary_color !important;
  vertical-align: top;
  font-family: $font__semi-bold;

  &:hover {
    color: $cavatina__main-primary-light-color !important;
  }
}

.c-post__entry-title--projects {
  width: 100%;
}

.js-post__entry-title::first-letter {
  color: red !important;
}

.c-post__excerpt {
  font-size: 14px;
  line-height: 200%;
}

.c-post__category {
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  color: $cavatina__main-primary-light-color;

  a {
    &:hover {
      color: $cavatina__main-primary-color;
    }
  }
}

.c-post__category--blog {
  padding-left: 0;
}

.c-post__meta {
  color: $cavatina__main-primary-light-color;
  line-height: 15px;

  @include media(tablet) {
    line-height: 17px;
  }
}

.c-post__category__anchor {
  font-size: 14px;
  line-height: 15px;
  color: $cavatina_secondary_color !important;

  &:hover {
    color: $cavatina__main-primary-color !important;
  }
  @include media(tablet) {
    font-size: 14px;
    line-height: 17 px;
  }
}

.c-post__date {
  font-size: 14px;
  line-height: 17px;
  margin-right: 16px;
  color: $cavatina_secondary_color;
}

.c-post__thumbnail {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  border-radius: 7px;
}

.c-post__thumbnail__image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
  object-position: center;
}
.c-post__entery-content {
  margin-top: 16px;
  color: #000000;
  p {
    line-height: 200%;
    font-size: 14px;
  }

  .more-link {
    display: none;
  }
}

.posts-navigation {
  width: 100%;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
