/*------------------------------------*\
  #Post block
\*------------------------------------*/

.c-post {
  width: 100%;
  height: max-content;
  min-height: 325px;
  text-align: left;
  padding-bottom: 68px;

  @include media(tablet) {
    width: 35%;
    margin-bottom: 40px;
    padding-bottom: 0px;
  }
}

.c-post__header {
  min-height: 70px;
  margin-bottom: 26px;
}

.c-post__header--space-height {
  margin-bottom: 16px;
}

.c-post__entry-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
  vertical-align: top;
  margin-top: 0;
  width: 100%;

  &:hover {
    color: #767676;
  }

  a {
    font-weight: 600;
    font-size: 14px;
    color: #111111;
    vertical-align: top;
  }

  counter-reset: section;
}

.c-post__entry-title--projects {
  width: calc(89% - 30px);
}

.c-post__meta {
  padding-left: 47px;
}

.c-post__category {
  font-size: 14px;
  line-height: 17px;
  color: #767676;
}

.c-post__date {
  font-size: 14px;
  line-height: 17px;
  margin-right: 16px;
  color: #767676;
}

.c-post__thumbnail {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  border-radius: 7px;
}

.c-post__thumbnail__image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
  object-position: top;
}
.c-post__entery-content {
  margin-top: 16px;
  color: #000000;
  p {
    line-height: 200%;
    font-size: 14px;
  }

  .more-link {
    display: none;
  }
}

/*------------------------------------*\
  #Post blog block
\*------------------------------------*/

.c-blog {
  width: 100%;
  margin-top: 64px;
  padding-left: 16px;
  padding-right: 16px;
  height: max-content;

  @include media(tablet) {
    width: 85%;
    display: inline-block;
    margin-top: 107px;
  }
}
.c-blog__post {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media(tablet) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.c-blog__header {
  width: 100%;

  order: 2;

  @include media(tablet) {
    width: 45%;
    text-align: left;
    margin-left: 5%;
  }
}

.c-blog__meta {
  margin-top: 16px;

  @include media(tablet) {
    margin-top: 0;
  }
}

.c-blog__entry-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  max-width: 450px;

  color: #000000;

  @include media(tablet) {
    font-size: 24px;
  }
}

.c-blog__thumbnail {
  width: 100%;
  height: 190px;
  order: 1;

  @include media(tablet) {
    width: 50%;
    height: 360px;
  }
}
.c-blog__thumbnail__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.c-blog__entery-content {
  order: 4;
  text-align: left;
  line-height: 28px;

  @include media(tablet) {
    width: 80%;
    margin-top: 48px;
  }
  ul {
    list-style-type: disc;

    margin-left: 16px;
  }

  p {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
}

.c-blog__tags {
  display: none;
  order: 5;
  width: 100%;
  text-align: left;
  padding-left: 20%;
  margin-top: 39px;

  @include media(tablet) {
    display: inline-block;
  }

  li {
    display: inline-block;
    margin-right: 16px;
  }
}

.c-post__category--blog {
  padding-left: 0;
}
