
* {
  font-family: $font__regular;
}

a {
  font-family: $font__regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}
