button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  font-weight: var(--heading-typography-variant);
  // padding: 16px 24px;
  background-color: $wp-cavatina__main-primary-color;
  color: $wp-cavatina__neutral-white;
  border-radius: $global-radius;

  background: #000000;
  border-radius: 5px;

  padding: 16px 26px;

  cursor: pointer;
  transition: $global-transition;

  &:hover {
    background-color: $wp-cavatina__quaternary-color;
  }
}
