
.nav-links {
  display: none !important;
}

.nav-previous {
  font-size: 1.8em;
  border-bottom: 1px solid grey;
  transition: 1s all;
}
.nav-next {
  font-size: 1.8em;
  border-bottom: 1px solid grey;
  transition: 1s all;
}

.c-pagination{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-right: 60px;

}


.page-numbers{
  color: #767676;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 15px;
  margin:2px;
  &:hover{
    background-color: #767676;
    color: #fff;
  }

}

.page-numbers.current{
  background-color: #767676;
  color: #fff;
}


.dashicons{
  color: #767676;

  &:hover{
    background-color: transparent;
  }
}


.next.page-numbers , .prev.page-numbers{

  &:hover{
    background-color: unset;
  }

}
