.c-search {
  width: 100%;
  max-height: 0;
  height: 0;
  transition: 0.5s all;

  display: flex;
  align-items: center;
  justify-content: center;
  @include media(tablet) {
    display: none;
  }
}

.c-search__input {
  // display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.c-search--toggled {
  max-height: 200px;
  height: 200px;

  .c-search__input {
    // display: block;
    visibility: visible;
    opacity: 1;
  }
}

.c-search__icon {
  @include media(tablet) {
    display: none;
  }
}
