/*------------------------------------*\
  #Search overlay block - (For Desktop)
\*------------------------------------*/

.c-search__overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: rgb(255, 255, 255);

  padding-left: 160px;
  display: none;
  align-items: center;
  justify-content: flex-start;

  animation-name: blurReverse;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  .c-search__form {
    position: relative;
    width: 50%;

    @include media(wide) {
      width: 40%;
    }

    .search-field {
      height: 100%;
      padding-bottom: 20px;
    }

    .search-submit {
      position: absolute;
      top: -30px;
      right: 0px;
    }
  }
}

/*------------------------------------*\
   #Search block Mobile
\*------------------------------------*/

.c-search {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9;
  background-color: $color__background-body;
  border-top: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(tablet) {
    display: none;
  }
}

.c-search__content {
  width: 100%;
  justify-content: center;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include media(tablet) {
    vertical-align: top;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
  }

  @include media(wide) {
    padding-bottom: 20%;
  }
}

.c-search__wrapper {
  width: 100%;
  min-height: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  border-bottom: 1px solid #e1e1e1;

  @include media(tablet) {
    border-bottom: 0px solid #e1e1e1;
    border-top: 0px solid #e1e1e1;
    justify-content: center;
  }
}

.c-search__context {
  width: max-content;
  display: inline-block;
  @include media(tablet) {
    text-align: left;
  }
}

.c-search__title {
  font-size: 13px;
  margin: 0;
  display: inline-block;
  text-transform: capitalize;

  @include media(tablet) {
    font-size: 18px;
    display: block;
    padding-bottom: 8px;
  }
}

.c-search__form {
  width: 100%;
  max-height: 0;
  height: 0;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(tablet) {
    display: none;
  }
}

.c-search__holder {
  visibility: hidden;
  width: 90%;

  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  .search-submit {
    display: none;
  }
}

.c-search__form--toggled {
  max-height: 200px;
  height: 200px;

  .c-search__holder {
    visibility: visible;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

.c-search__icon {
  &::before {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15pt' height='15pt' viewBox='0 0 15 15' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 14.910156 14.464844 L 10.34375 9.902344 C 11.292969 8.851562 11.875 7.460938 11.875 5.9375 C 11.875 2.664062 9.210938 0 5.9375 0 C 2.664062 0 0 2.664062 0 5.9375 C 0 9.210938 2.664062 11.875 5.9375 11.875 C 7.460938 11.875 8.851562 11.292969 9.902344 10.34375 L 14.464844 14.90625 C 14.527344 14.96875 14.605469 15 14.6875 15 C 14.765625 15 14.847656 14.96875 14.910156 14.910156 C 15.03125 14.785156 15.03125 14.589844 14.910156 14.464844 Z M 5.9375 11.25 C 3.007812 11.25 0.625 8.867188 0.625 5.9375 C 0.625 3.007812 3.007812 0.625 5.9375 0.625 C 8.867188 0.625 11.25 3.007812 11.25 5.9375 C 11.25 8.867188 8.867188 11.25 5.9375 11.25 Z M 5.9375 11.25 '/%3E%3C/g%3E%3C/svg%3E%0A");
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
    background-size: 21px 21px;
  }

  @include media(tablet) {
    display: none;
  }
}

.c-search__icon--toggled {
  &::before {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12pt' height='12pt' viewBox='0 0 12 12' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 2.960938 5.601562 C 1.335938 7.222656 0.00390625 8.554688 0.00390625 8.5625 C 0 8.566406 0.140625 8.707031 0.308594 8.878906 L 0.617188 9.1875 L 3.265625 6.546875 C 4.722656 5.097656 5.917969 3.90625 5.921875 3.90625 C 5.925781 3.90625 7.121094 5.097656 8.578125 6.546875 L 11.226562 9.1875 L 11.535156 8.878906 C 11.703125 8.707031 11.84375 8.566406 11.84375 8.5625 C 11.84375 8.554688 5.9375 2.660156 5.921875 2.660156 C 5.917969 2.660156 4.585938 3.980469 2.960938 5.601562 Z M 2.960938 5.601562 '/%3E%3C/g%3E%3C/svg%3E%0A");
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
    background-size: 28px 28px;
  }
}

.search-submit-mobile {
  width: 30px;
  width: max-content;
  height: max-content;
  position: absolute;
  display: inline-block;
  background-color: transparent;
  right: -5px;
  top: -15px;

  padding: 1px 6px;
  @include media(tablet) {
    display: none;
  }

  &:hover {
    background: transparent;
    outline: none;
  }
  &::before {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15pt' height='15pt' viewBox='0 0 15 15' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 14.910156 14.464844 L 10.34375 9.902344 C 11.292969 8.851562 11.875 7.460938 11.875 5.9375 C 11.875 2.664062 9.210938 0 5.9375 0 C 2.664062 0 0 2.664062 0 5.9375 C 0 9.210938 2.664062 11.875 5.9375 11.875 C 7.460938 11.875 8.851562 11.292969 9.902344 10.34375 L 14.464844 14.90625 C 14.527344 14.96875 14.605469 15 14.6875 15 C 14.765625 15 14.847656 14.96875 14.910156 14.910156 C 15.03125 14.785156 15.03125 14.589844 14.910156 14.464844 Z M 5.9375 11.25 C 3.007812 11.25 0.625 8.867188 0.625 5.9375 C 0.625 3.007812 3.007812 0.625 5.9375 0.625 C 8.867188 0.625 11.25 3.007812 11.25 5.9375 C 11.25 8.867188 8.867188 11.25 5.9375 11.25 Z M 5.9375 11.25 '/%3E%3C/g%3E%3C/svg%3E%0A");
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 28px 28px;
  }

  &:focus {
    background-color: transparent;
    outline: $color__text-input-focus dotted 1px;
  }
}

/*------------------------------------*\
   #Searchform general design
\*------------------------------------*/

.c-search__form {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  label {
    width: 100%;
  }
}
.search-field {
  width: 100%;
  padding-bottom: 8px;

  &:focus {
    outline: none;
    color: $color__text-input-focus;
  }
}
.search-submit {
  position: absolute;
  right: 0;
  top: -33px;
}
