.c-home__carousel-info {
  width: 100%;
  padding-bottom: 5%;
  order: 3;
  // background-color: darkmagenta;
}

.c-carousel__more {
  margin-top: 16px;
  order: 4;
}

.c-carousel {
  width: 100%;
  height: 90%;
  text-align: left;

  // background-color: darksalmon;
  margin-top: 40%;

  @include media(tablet) {
    width: 90%;
    height: 80%;
    margin-top: 7%;
    margin-left: 5%;
  }
}
.carousel {
  height: 100%;
  background: transparent;

  .flickity-viewport {
    height: 100%;
  }
}

.c-carousel__slider {
  height: 40vh;

  @include media(tablet) {
    height: 90%;
  }
}

.c-carousel__title {
  width: max-content;
  text-align: left;
  margin-left: 5%;
  @include media(tablet) {
    display: none;
  }
}

.o-carousel__image {
  width: 90%;
  height: max-content;

  object-fit: cover;
}
.c-carousel__post-title {
  width: max-content;
  margin-top: 5%;
  margin-left: 5%;
  @include media(tablet) {
    display: none;
  }
}

.carousel-cell {
  width: 90%;

  @include media(tablet) {
    width: 80%;
  }

  height: 100%;
  margin-right: 10px;
  background: #8c8;

  counter-increment: gallery-cell;

  @include media(tablet) {
    width: 100%;
  }
}

.c-carousel__image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.flickity-page-dots {
  bottom: -65px;
  padding-left: 5%;

  @include media(tablet) {
    bottom: -35px;
    padding-left: 0;
  }

  .dot {
    display: inline-block;
    width: 20%;
    height: 2px;
    margin: 0;
    border-radius: 0;
    background: #8a8a8a;
    opacity: 0.25;
    cursor: pointer;
  }
  .dot.is-selected {
    height: 2px;
    background: #8a8a8a;
  }
}

.flickity-button {
  position: absolute;
  left: 95%;

  top: 135%;
  transform: translate(-50%, -50%);

  @include media(tablet) {
    top: 115%;
    left: 99%;
  }
}
.flickity-prev-next-button.previous {
  left: 90%;

  @include media(tablet) {
    left: 95%;
  }
}
