/*------------------------------------*\
  #Red bullet
\*------------------------------------*/
.o-bullet-numeric {
  height: 100%;
  width: max-content;
  display: inline-block;
  color: #111111;

  &::before {
    content: counter(chapter);
    counter-increment: chapter;
    font-size: 14px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #ff3636;
    border-radius: 50%;
    font-size: 14px;
    width: 5px;
    height: 5px;
    margin-right: 8px;
    margin-left: 6px;
  }
}

.o-bullet {
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #ff3636;
    border-radius: 50%;
    font-size: 14px;
    width: 7px;
    height: 7px;
    margin-right: 8px;
    margin-left: 6px;
  }
}

.o-bullet--sm {
  &::before {
    width: 5px;
    height: 5px;
  }
}

.o-bullet-after {

  font-family: $font__regular;
  font-size: 14px;
  line-height: 17px;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #ff3636;
    border-radius: 50%;
    font-size: 14px;
    width: 7px;
    height: 7px;
    margin-right: 8px;
    margin-left: 6px;
  }
}
