/*------------------------------------*\
  #Social media links
\*------------------------------------*/
.c-social-media {
  transition: 1s all;
}
.c-social-media__item {
  margin-right: 18px;
  transition: 0.2s all;
}

.c-social-media__icon {
  transition: 0.3s all;
}

.c-social-media__item {
  &:hover {
    .c-social-media__icon {
      fill: #000000;
    }
  }

  .c-social-media__icon {
    fill: $cavatina__main-primary-light-color;
  }
}
/*------------------------------------*\
  #Blog social media
\*------------------------------------*/
.c-social-media--blog {
  margin-top: 32px;
  margin-bottom: 16px;
  order: 6;
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @include media(tablet) {
    width: 20%;
    margin-top: 40px;
    margin-left: 206px;
    margin-bottom: 4px;
  }
}

.c-social-media__title {
  margin-right: 21px;

  color: $cavatina_primary_color;
}

/*------------------------------------*\
  #404 social media
\*------------------------------------*/

.c-social-media--404 {
  margin-top: 50px;
  margin-bottom: 23px;
  a {
    margin: 0 10px;
  }
}
