/*------------------------------------*\
  #Social media links
\*------------------------------------*/
.c-social-media {
}
.c-social-media__item {
  margin-right: 18px;
  transition: 0.2s all;
}

.c-social-media__item{
  &:hover{
    .c-social-media__icon{
      fill: #000000;
    }
    }

  .c-social-media__icon{
    fill: #8A8A8A;
  }
}
/*------------------------------------*\
  #Blog social media
\*------------------------------------*/
.c-social-media--blog {
  margin-top: 32px;
  margin-bottom: 16px;
  order: 3;
  margin-left: 0;

  @include media(tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17%;
    margin-top: 64px;
  }

  .c-social-media__item {
    margin-bottom: 24px;
  }
}
