/*------------------------------------*\
  #single
\*------------------------------------*/

.c-single {
  width: 100%;
  height: max-content;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  margin-top: 16px;

  @include media(tablet) {
    flex-direction: column;
    height: 100%;
    margin-top: 0;
    padding-bottom: 0;
  }
}

/*------------------------------------*\
  #single context
\*------------------------------------*/

.c-single__context {
  width: 100%;
  height: 100%;
  margin-top: 37px;
  text-align: left;
  position: relative;
  min-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #555 #e1e1e1;

  @include media(tablet) {
    width: 50%;
    margin-top: 0;
    padding-bottom: 5%;
  }
}

.c-single__title {
  width: 100%;
  display: none;
  font-size: $font__semi-bold;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  color: $cavatina_primary_color;
  @include media(tablet) {
    display: block;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.c-single__title--red {
  color: $cavatina__service-error-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 16px;
}

.c-single__title--small {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 29px;
}

.c-single__title--page {
  display: block;
  margin-left: 16px;
  margin-bottom: 0;
  @include media(tablet) {
    margin-left: 0;
  }
}

.c-single__meta {
  width: 100%;
  display: none;

  @include media(tablet) {
    display: block;
  }
  li {
    display: inline-block;
    color: $cavatina_secondary_color;
    font-size: 14px;
    &:nth-child(2)::before {
      display: inline-block;
      content: "";
      -webkit-border-radius: 0.375rem;
      border-radius: 0.375rem;
      height: 5px;
      width: 5px;
      margin-right: 6px;
      vertical-align: middle;
      margin-left: 6px;
      background-color: #ff3636;
    }

    a {
      color: $cavatina_secondary_color;

      &:hover {
        color: $cavatina__main-primary-color;
      }
    }
  }
}

.c-single__text {
  font-size: 14px;
  width: 100%;
  text-align: left;
  line-height: 27px;
  margin-left: 14px;
  margin-right: 32px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  max-width: 90vw;

  @include media(tablet) {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  .wp-block-button__link {
    color: $cavatina__neutral-white !important;
    text-decoration: none;
  }

  a {
    color: $color__link !important;
    text-decoration: underline;

    &:hover {
      color: $cavatina__main-primary-light-color !important;
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 16px;
  }

  ol {
    padding-left: 16px;
  }

  .blocks-gallery-grid {
    margin-left: 0px;
  }
}

.c-single__context__holder {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;

  @include media(tablet) {
    margin-top: calc(40vh);
    margin-right: 25px;
    min-height: calc(50vh);
  }
}

.c-single__context__holder--full-height {
  .c-single__context {
    width: 100%;
    margin-top: 9px;
  }

  .c-single__context__holder {
    width: 100%;

    @include media(tablet) {
      width: 600px;
    }
  }

  .c-single__context__holder {
    @include media(tablet) {
      margin-top: 131px;
    }
  }
}

.c-single__text--full-height {
  line-height: 30px;
  text-align: justify;

  p {
    margin-bottom: 16px;
    text-align: left;
  }

  ul {
    margin-left: 16px;
    list-style-type: disc;
    text-align: left;
  }

  h3 {
    line-height: 28px;
  }
}

/*------------------------------------*\
    #single carousel
\*------------------------------------*/

.c-single__carousel {
  width: 100%;

  @include media(tablet) {
    height: 100%;
  }
}

/*------------------------------------*\
  #hide title and meta in tablet
\*------------------------------------*/
.c-single__carousel--mobile {
  .c-single__title {
    display: block;
    font-size: 14px;
    line-height: 17px;
    margin-left: 16px;
    font-family: $font__semi-bold;
    max-width: 90%;

    @include media(tablet) {
      display: none;
    }
  }

  .c-single__meta {
    display: block;
    margin-left: 16px;

    @include media(tablet) {
      display: none;
    }

    li {
      font-weight: normal;
      font-size: 12px;
      line-height: 200%;
    }

    a {
      &:hover {
        color: $cavatina__main-primary-color !important;
      }
    }
  }

  .flickity-viewport {
    height: 380px;
    cursor: grab;
    @include media(tablet) {
      height: 89%;
    }

    .c-single__slider__cell {
      height: 100%;
      @include media(tablet) {
        height: 100%;
      }
    }
  }
}

/*------------------------------------*\
  #Post blog
\*------------------------------------*/

.c-single__blog {
  width: 100%;
  margin-top: 32px;
  padding: 0 16px;
  height: max-content;

  @include media(tablet) {
    width: 1114px;
    max-width: 100%;
    display: inline-block;
    margin-top: 107px;
    padding: 0 0;
  }

  .comments-area {
    @include media(tablet) {
      margin-left: 206px;
      width: calc(825px - 212px);
    }
  }
}
.c-single__blog__post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media(tablet) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.c-single__blog__header {
  width: 100%;
  order: 2;

  @include media(tablet) {
    width: 45%;
    text-align: left;
    margin-left: 54px;
  }
}

.c-single__blog__meta {
  margin-top: 16px;

  -ms-word-wrap: break-word;
  word-wrap: break-word;

  a {
    color: $cavatina_secondary_color !important;
    &:hover {
      color: $cavatina__main-primary-color !important;
    }
  }

  @include media(tablet) {
    margin-top: 0;
  }
}

.c-single__blog__entry-title {
  font-weight: 600;
  line-height: 30px;
  max-width: 450px;
  color: $cavatina_primary_color;
  font-family: $font__semi-bold;
  font-style: normal;

  -ms-word-wrap: break-word;
  word-wrap: break-word;

  &::first-letter {
    text-transform: uppercase;
  }
}

.c-single__blog__thumbnail {
  width: 100%;
  height: 190px;
  order: 1;

  @include media(tablet) {
    height: 350px;
    width: 530px;
  }
}

.c-single__blog__no-thumbnail {
  margin-left: 153px;
}

.c-single__blog__thumbnail__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.c-single__blog__entery-content {
  order: 4;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 30px;

  height: max-content;

  -ms-word-wrap: break-word;
  word-wrap: break-word;

  @include media(tablet) {
    text-align: justify;
    margin-left: 206px;
    margin-top: 0px;
  }
  @include media(tablet) {
    width: 608px;
    margin-top: 48px;
  }

  &::first-letter {
    text-transform: uppercase;
  }

  .blocks-gallery-grid {
    margin-left: 0px;
  }

  .wp-block-button__link {
    color: $cavatina__neutral-white !important;
    text-decoration: none;
  }

  a {
    color: $color__link !important;
    text-decoration: underline;

    &:hover {
      color: $cavatina__main-primary-light-color !important;
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 16px;
  }

  h2 {
    font-family: $font__semi-bold;
  }
}

.c-single__blog__tags {
  order: 5;
  width: 100%;
  text-align: left;
  margin-top: 39px;

  width: calc(100% - 280px);

  @include media(tablet) {
    display: inline-block;
    padding-left: 206px;
  }

  li {
    display: inline-block;
    margin-right: 16px;
  }

  a {
    color: $cavatina_secondary_color !important;
    font-size: 14px;

    &:hover {
      color: $cavatina__main-primary-color !important;
    }
  }
}

.c-post__category--blog {
  padding-left: 0;
}

/*------------------------------------*\
  #Author avatar
\*------------------------------------*/
.c-single__author {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 39px;
}

.c-single__author__avatar {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;

  img {
    border-radius: 40px;
  }
}

.c-single__author__info {
  display: inline-block;
  margin-left: 24px;
  font-family: $font__regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: $cavatina_secondary_color;

  h3 {
    margin: 0;
  }

  span {
    a {
      font-size: 12px;
      line-height: 15px;
      color: $cavatina_secondary_color;

      &:hover {
        color: $cavatina__main-primary-color !important;
      }
    }
  }
}
