/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto; // Make sure images are scaled correctly.
  max-width: 100%; // Adhere to container width.

  transition: 0.5s all;

  &:hover {
    filter: brightness(0.78);
  }

  &:focus {
    outline: $cavatina__main-primary-light-color dotted 1px !important;
  }
}

figure {
  margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
  max-width: 100%;
}
