/*------------------------------------*\
  #Main content block objorg
\*------------------------------------*/

.o-page__main {
  @include media(tablet) {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    // background-color: darkolivegreen;
    display: inline-block;
    text-align: center;
  }
}

/*------------------------------------*\
  #Page col block objorg
\*------------------------------------*/

.o-page__col {
  @include media(tablet) {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
