/*------------------------------------*\
  #Main content block objorg
\*------------------------------------*/

.o-page__main {
  animation-name: blurReverse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  @include media(tablet) {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    // background-color: darkolivegreen;
    display: inline-block;
    text-align: center;
  }
}

.o-page__main--blur {
  animation-name: blur;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/*------------------------------------*\
  #Page col block objorg
\*------------------------------------*/

.o-page__col {
  @include media(tablet) {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
