/*------------------------------------*\
  #Header
\*------------------------------------*/
.c-header {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  z-index: 50;
  top: 0;

  padding-top: 25px;
  padding-bottom: 25px;

  @include media(tablet) {
    left: 0;
    width: max-content;
    min-width: 90px;
    position: fixed;
    height: 80%;
    border-right: 1px solid #e1e1e1;
    border-bottom: none;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
  }
}

.c-header__holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include media(tablet) {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
  }
}

/*------------------------------------*\
  #Header logo
\*------------------------------------*/

.c-header__logo {
  width: 35%;
  text-align: left;
  padding-left: 16px;

  @include media(tablet) {
    width: max-content;
    margin-bottom: 15%;
    padding: 0;
    transform: rotate(-90deg);
    order: 1;
  }

  h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 8px;

    @include media(tablet) {
      font-size: 2em;
    }
  }
}

.c-header__logo__anchor {
  display: flex;

  @include media(tablet) {
    display: block;
  }
}
.c-header__logo__image {
  width: 95px;
  height: 17px;
}

.c-header__logo__text {
  width: 91px;
  height: 17px;
}
/*------------------------------------*\
  #Header text
\*------------------------------------*/

.c-header__text {
  color: $cavatina_secondary_color;
  display: none;
  order: 2;
  font-size: 14px;
}

/*------------------------------------*\
  #Header menu
\*------------------------------------*/
.c-header__menu {
  text-align: right;
  background-color: transparent;

  width: 45px;
  height: 14px;
  position: relative;
  display: inline-block;

  &:hover {
    background-color: transparent;
  }

  &::before {
    height: 0;
    border-bottom: 1px solid #000;
    top: 10px;
    left: 0;
    transform-origin: top left;
  }

  &::after {
    height: 0;
    border-bottom: 1px solid #000;
    bottom: 10px;
    left: 0;
    transform-origin: bottom left;
  }

  @include media(tablet) {
    margin-left: 25%;
    order: 2;
    text-align: center;
  }
}

.c-header__menu::before,
.c-header__menu::after {
  width: 50%;
  content: "";
  position: absolute;
  border-color: #000;
  display: block;
  transition: transform 700ms cubic-bezier(0.75, 0.01, 0.07, 0.99);
  will-change: transform;
}

.c-header__menu:focus {
  outline: none;
}
/*------------------------------------*\
  #Header search
\*------------------------------------*/
.c-header__search {
  cursor: pointer;
  width: 27px;
  height: 30px;
  position: relative;
  display: inline-block;
  display: none;

  &::before {
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 12px;
  }

  &::after {
    width: 12px;
    height: 0;
    border-bottom: 1px solid #000;
    transform: rotate(45deg) translateY(-4px);
    bottom: 0;
    right: 0;
  }

  @include media(tablet) {
    display: block;
    order: 3;
  }
}

.c-header__search::after,
.c-header__search::before {
  content: "";
  position: absolute;
  transform-origin: center;
  border-color: #000;
  display: block;
  transition: all 700ms cubic-bezier(0.75, 0.01, 0.07, 0.99);
  will-change: transform, width, border;
}

.c-header__search--toggle {
  &::before {
    width: 30px;
    height: 1px;
    border-color: #fff;
    border-bottom: 1px solid #000;
    border-radius: 0;
    transform: rotate(-45deg) translateY(10px) translateX(-12px);
    top: 0;
    left: 0;
  }

  &::after {
    width: 30px;
    height: 0;
    transform: rotate(45deg) translateY(-10px) translateX(-8px);
  }
}

/*------------------------------------*\
  #Header Home Modifier
\*------------------------------------*/

.c-header--home {
  @include media(tablet) {
    width: 15%;
    border-bottom: none;
    padding-top: 25px;
  }

  .c-header__holder {
    @include media(tablet) {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 55%;
    }

    @include media(wide) {
      padding-bottom: 0;
      padding-top: 90%;
    }

    .c-header__logo {
      @include media(tablet) {
        transform: rotate(0deg);
        margin-bottom: 0;
        padding-left: 32px;
      }

      .c-header__logo__image {
        @include media(tablet) {
          width: 120px;
          height: auto;
          margin-bottom: 8px;
          margin-top: 8px;
        }
      }

      .c-header__logo__text {
        @include media(tablet) {
          margin-top: 10px;
          max-width: 150px;
          width: auto;
          height: auto;
        }
        @include media(wide) {
          margin-top: 0px;
        }
      }
    }

    .c-header__text {
      @include media(tablet) {
        display: block;
        width: 150px;
        margin: 0;
      }
    }

    .c-header__menu {
      @include media(tablet) {
        display: none;
      }
    }

    .c-header__search {
      @include media(tablet) {
        display: none;
      }
    }
  }
}

/*------------------------------------*\
  #Header Holder toggled
\*------------------------------------*/
.c-header__holder.toggled {
  @include media(tablet) {
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    height: max-content;
    align-content: center;

    animation-name: increaseHeaderWidth;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    padding-left: 20%;
    padding-right: 5%;
  }

  .c-header__logo {
    @include media(tablet) {
      width: 50%;
      margin-bottom: 0;
      transform: rotate(0deg);
    }
  }

  .c-header__menu {
    padding: 0;
    width: 45px;
    height: 14px;
    text-align: right;
    padding-right: 26px;

    @include media(tablet) {
      &::before {
        transform: rotate(45deg) translate(-15px, -5px);
      }
      &::after {
        transform: rotate(-45deg) translateX(-10px);
      }
    }

    @include media(tablet) {
      width: 40px;
      height: 14px;
    }
  }

  .c-header__menu::before,
  .c-header__menu::after {
    @include media(tablet) {
      margin-left: 20px;
    }
  }

  .c-nav {
    padding-top: 24px;
    padding-bottom: 16px;
    max-height: 25em;
    text-align: left;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    order: 3;
    margin-top: 40px;
    @include media(tablet) {
      padding-top: 12px;
      margin-left: 5px;
      margin-top: 10px;
    }

    .s-nav {
      @include media(tablet) {
        margin-left: 0;
        padding-left: 0;
        margin-top: 10%;
      }
    }
  }

  .c-header__search {
    &::before {
      width: 30px;
      height: 1px;
      border-color: #fff;
      border-bottom: 1px solid #000;
      border-radius: 0;
      transform: rotate(-45deg) translateY(10px) translateX(-11px);
      top: 0;
      left: 0;
    }
    &::after {
      width: 30px;
      height: 0;
      transform: rotate(45deg) translateY(-10px) translateX(-8px);
    }
    @include media(tablet) {
      display: none;
    }
  }

  .js-logo.is-open.logo-out {
    @include media(tablet) {
      opacity: 0;
      display: none;
    }
  }

  .js-logo.is-open.logo-in {
    @include media(tablet) {
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }

  .js-navigation.is-open.nav-out {
    @include media(tablet) {
      opacity: 0;
      display: none;
    }
  }

  .js-navigation.is-open.nav-in {
    @include media(tablet) {
      opacity: 0;
      display: block;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}

.space-top {
  @include media(tablet) {
    padding-top: 65%;
  }
}

.js-nav.has-animation-out {
  @include media(tablet) {
    animation-name: decreaseHeaderWidth;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

/*------------------------------------*\
  #Header 404 Modifier
\*------------------------------------*/

.c-header--404 {
  .c-header__holder {
    padding-top: 0px;

    @include media(tablet) {
      justify-content: center;
    }
  }

  .c-header__menu {
    display: none;
  }
}
