/*------------------------------------*\
  #Header block
\*------------------------------------*/
.c-header {
  background-color: $color__background-body;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  z-index: 50;
  top: 0;

  padding-top: 25px;
  padding-bottom: 25px;

  @include media(tablet) {
    left: 0;
    width: max-content;
    min-width: 7%;
    position: fixed;
    height: 80%;
    border-right: 1px solid #e1e1e1;
    border-bottom: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
  }
}

.c-header__holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  // background-color: rgba(85, 107, 47, 0.452);

  @include media(tablet) {
    width: 100%;
    height: 100%;
    // border-right: 1px solid #e1e1e1;
    flex-direction: column-reverse;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
  }
}

/*------------------------------------*\
  #Header logo block
\*------------------------------------*/

.c-header__logo {
  width: 50%;
  text-align: left;

  padding-left: 16px;

  @include media(tablet) {
    width: 95%;
    margin-bottom: 15%;
    text-align: center;
    padding: 0;
    transform: rotate(-90deg);
    order: 1;
  }
}

/*------------------------------------*\
  #Header text block
\*------------------------------------*/

.c-header__text {
  color: #8a8a8a;
  display: none;
  order: 2;
  font-size: 14px;
}

/*------------------------------------*\
  #Header menu block
\*------------------------------------*/
.c-header__menu {
  width: 50%;
  text-align: right;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }

  @include media(tablet) {
    width: unset;
    order: 2;
    text-align: center;
    height: 5%;
  }
}

.c-header__menu:focus {
  outline: none;
}

.c-header__search {
  display: none;

  &::before {
    content: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.8169 28.9331L20.6888 19.805C22.5848 17.6999 23.75 14.9244 23.75 11.875C23.75 5.32717 18.4229 0 11.875 0C5.32717 0 0 5.32717 0 11.875C0 18.4229 5.32717 23.75 11.875 23.75C14.9244 23.75 17.6999 22.5848 19.805 20.6888L28.9331 29.8169C29.0552 29.9389 29.2151 30 29.375 30C29.5349 30 29.6948 29.9389 29.817 29.8169C30.0611 29.5727 30.0611 29.1772 29.8169 28.9331ZM11.875 22.5C6.01688 22.5 1.25004 17.7337 1.25004 11.875C1.25004 6.01629 6.01688 1.24998 11.875 1.24998C17.7332 1.24998 22.5 6.01623 22.5 11.875C22.5 17.7338 17.7332 22.5 11.875 22.5Z' fill='black'/%3E%3C/svg%3E%0A");
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
    background-size: 28px 28px;
  }

  @include media(tablet) {
    display: block;
    order: 3;
  }
}

.c-header__search--toggle {
  &::before {
    content: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.30574L21 21M1 20.6943L21 1' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
    background-size: 28px 28px;
  }
}

.c-overlay {
  display: none;

  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 20;
  align-items: center;
  justify-content: flex-start;

  @include media(tablet) {
    background: linear-gradient(
      90deg,
      darken($color: #ffffff, $amount: 0) 12%,
      darken($color: #ffffff, $amount: 0) 0%,
      darken($color: #ffffff00, $amount: 0) 100%
    );
  }
}

.c-overlay--active {
  display: flex;
}
/*------------------------------------*\
  #Header Modifier
\*------------------------------------*/

.c-header--home {
  @include media(tablet) {
    width: 15%;
    border-bottom: none;
  }

  .c-header__holder {
    @include media(tablet) {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 45%;
    }

    @include media(wide) {
      padding-bottom: 0;
    }

    .c-header__logo {
      @include media(tablet) {
        transform: rotate(0deg);
        margin-bottom: 0;
      }

      img {
        @include media(tablet) {
          width: 60%;
        }
      }
    }

    .c-header__text {
      @include media(tablet) {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0;
        padding-left: 23%;
      }
    }

    .c-header__menu {
      @include media(tablet) {
        display: none;
      }
    }

    .c-header__search {
      @include media(tablet) {
        display: none;
      }
    }
  }
}
