.c-header {
    width: 100%;

    @include media(tablet) {
        align-items: center;
        width: max-content;
        position: absolute;
        display: flex;
        height: 100%;
        z-index: 50;
        top: 0;
    }

    .c-header__search {
        @include media(tablet) {
            display: block;
        }
    }

    .c-header__menu {
        display: block;

        @include media(tablet) {
            order: 1;
        }
    }
}

.c-header--home {
    @include media(tablet) {
        width: max-content;
        min-width: 15%;
        max-width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }

    .c-header__holder {
        @include media(tablet) {
            border-right: 1px solid $color__background-hr;
            width: 95%;
            align-content: center;
        }
    }

    .c-header__wrapper {
        @include media(tablet) {
            height: max-content;
            padding-left: 50px;
            padding-right: 16px;
            padding-bottom: 45%;
        }

        @include media(ultra-wide) {
            padding-bottom: 25%;
        }
    }

    .c-header__search {
        @include media(tablet) {
            display: none;
        }
    }

    .c-header__menu {
        @include media(tablet) {
            display: none;
        }
    }

    .c-header__logo__anchor {
        @include media(tablet) {
            transform: none;
            position: relative;
            left: 0;
            max-width: 90%;

            word-wrap: unset;
            overflow: unset;
            text-overflow: unset;
            display: unset;
            -webkit-line-clamp: unset;
            -webkit-box-orient: unset;
        }
    }
}

.c-header__holder {
    width: 100%;
    min-height: 65px;
    padding: 10px 16px 43px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    transition: height 1s;
    height: 0px;
    border-bottom: 1px solid $color__background-hr;
    background-color: $cavatina__neutral-white;

    @include media(tablet) {
        height: calc(100% - 15%) !important;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        // padding-left: 50px;
        border-bottom: none;

        transition: width 0.5s;
        align-content: space-between;
        justify-content: center;
        border-right: 1px solid $color__background-hr;
        padding-left: 10px;
        width: 107px;
    }
}

.c-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include media(tablet) {
        width: max-content;
        height: 100%;
        align-content: space-between;
        justify-content: center;
    }
}

.c-header__holder.is-open {
    height: max-content;

    @include media(tablet) {
        height: calc(100% - 15%) !important;
        align-items: center;
        align-content: flex-end;
    }

    .c-header__wrapper {
        @include media(tablet) {
            justify-content: space-between;
            align-content: flex-end;
            padding-left: 50px;
            padding-right: 16px;
        }
    }

    .c-header__search {
        display: none;
    }

    .c-header__navigation {
        display: block;
        @include media(tablet) {
            padding-top: 0;
            height: 50%;
            transition: 1s all;
            display: block;
        }
    }

    .c-header__menu {
        order: 2;

        &::before {
            transform: rotate(45deg) translate(-5px, -15px);
        }
        &::after {
            transform: rotate(-45deg) translate(-5px, 10px);
        }
    }

    .c-header__logo {
        @include media(tablet) {
            margin-bottom: 0px;
            order: 1;
            width: max-content;
        }
    }

    .c-header__logo__anchor {
        @include media(tablet) {
            position: relative;
            transform: none;
            left: unset;
        }
    }
}

.c-header__logo__anchor {
    &:hover,
    &:focus,
    &:active {
        .c-header__logo__text {
            color: $color__border-button-hover;
        }
    }
}

/*------------------------------------*\
  #Header Menu
\*------------------------------------*/
.c-header__menu {
    order: 2;
    display: block;
    background-color: transparent !important;
    border: none;
    position: relative;
    width: max-content;
    min-width: 0px;
    height: max-content;
    padding: 8px 12px;

    &::before {
        height: 5px;
        border-bottom: 1px solid #000;
        top: 10px;
        left: 0;
        transform-origin: top left;
    }

    &::after {
        height: 0;
        border-bottom: 1px solid #000;
        bottom: 10px;
        left: 0;
        transform-origin: bottom left;
    }

    @include media(tablet) {
        display: none;
    }
}

.c-header__menu::before,
.c-header__menu::after {
    width: 100%;
    content: "";
    position: absolute;
    border-color: #000;
    display: block;
    transition: transform 700ms cubic-bezier(0.75, 0.01, 0.07, 0.99);
    will-change: transform;
}

.c-header__navigation {
    order: 3;
    width: 100%;
    padding-top: 65px;
    display: none;

    @include media(tablet) {
        display: none;
        opacity: 0;

        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 0.8s;
    }
}

.c-header__search {
    display: none;

    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;

    margin-left: 5px;

    &:focus,
    &:active,
    &:hover {
        background-color: transparent;
        border: none;
        outline: none;
    }
}

.c-header__logo {
    order: 1;
    transition: 0s all;
    max-width: 100%;

    @include media(tablet) {
        width: 100%;
        padding-right: 8px;
        margin-bottom: 0px;
        position: relative;
    }
}

.c-header__logo.is-hide {
    opacity: 0;
}

.c-header__logo.has-animation {
    transition: 1s all;
    opacity: 1;
}

.c-header__logo.has-animation-out {
    visibility: hidden;
}

.c-header__logo__anchor {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 240px;

    @include media(tablet) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(0%, -50%) rotate(270deg);
        width: max-content;
        transform-origin: left;

        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        max-width: 390%;
    }
}

.c-header__text {
    display: none;

    @include media(tablet) {
        display: block;
    }

    @include media(ipad-pro) {
        display: none;
    }
}

.c-header__logo__image {
    margin-top: 10px;
    width: 116px;
    max-width: 116px;

    @include media(tablet) {
        max-width: 90%;
        margin-bottom: 16px;
    }
}

/*------------------------------------*\
  #Search Box 
\*------------------------------------*/
// vars
$color-white: #000000; // icon color
$color-bg: #000000; // background color
$animation: 0.5s; // animation speed
$scale: 0.1; // icon scale 68/68 default

$dimensions-open: 28px;
$dimensions-close: 36px;

.magnifier-icon {
    display: block;
    position: relative;
    cursor: pointer;
    opacity: 1;
    transition: opacity 2s;

    .c-header__search--toggle > .magnifier-icon:before {
        animation: close $animation * 0.5 ease $animation * 0.5 1 forwards;
    }
}

.magnifier-handle,
.magnifier-handle-x {
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    transform: rotate(45deg);
    background: $color-white;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.3s;

    .c-header__search--toggle > .magnifier-icon & {
        animation: x-stroke-in $animation ease 0s 1 forwards;
    }
}

.magnifier-handle-x {
    height: 25px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 50%;
}
.magnifier-handle {
    top: 25px;
    left: 19px;
    width: 15px;
}
.c-header__search--toggle > .magnifier-icon .magnifier-handle {
    top: 10px;
    left: 0;
    width: 25px;
}
.c-header__search--toggle > .magnifier-icon .magnifier-handle-x {
    height: 1px;
    background: #000000;
    border-radius: 0;
    border: 0;
    transform: rotate(-50deg);
    top: 10px;
    left: 0px;
}
