.c-header {
  // background-color: darkkhaki;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  position: fixed;
  z-index: 9;
  top: 0;

  @include media(tablet) {
    left: 0;
    width: max-content;

    height: 80%;
    border-right: 1px solid #e1e1e1;
    border-bottom: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
  }
}

.c-header__holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  // background-color: rgba(85, 107, 47, 0.452);

  @include media(tablet) {
    width: 90px;
    height: 100%;
    // border-right: 1px solid #e1e1e1;
    flex-direction: column-reverse;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}

.c-logo--block {
  width: 50%;
  text-align: left;
  padding: 32px 20% 0px 5%;

  @include media(tablet) {
    width: 95%;

    text-align: left;
    padding: 0;
    // background-color: red;
    margin-bottom: 32%;
  }
}

.o-descripttion {
  display: none;
}

.o-logo {
  @include media(tablet) {
    padding: 0;
    transform: rotate(-90deg);
    order: 1;
  }
}
.c-toggle--block {
  width: 50%;
  text-align: right;
  background-color: transparent;
  padding: 5%;

  @include media(tablet) {
    order: 2;
    text-align: center;
    height: 5%;
  }
}

.c-toggle--block:focus {
  outline: none;
}

.o-search--block {
  display: none;

  @include media(tablet) {
    display: block;
    order: 3;
  }
}

.c-nav {
  width: 100%;
  max-height: 0;
  transition: 1s ease-in-out;
  transition-delay: 0s;
  overflow: hidden;

  @include media(tablet) {
    display: none;
    order: 1;
  }

  .s-nav {
    .page_item {
      list-style-type: none;
    }
  }
}

.toggled {
  @include media(tablet) {
    justify-content: center;
    flex-direction: row;
    height: 20%;

    animation-name: increaseHeaderWidth;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    padding-left: 20%;
  }

  .c-logo--block {
    @include media(tablet) {
      width: 50%;
      margin-bottom: 0;
    }
    .o-logo {
      transform: rotate(0deg);
    }
  }

  .c-toggle--block {
    padding: 0;
    width: 50%;
    text-align: right;
    padding-right: 5%;
  }

  .c-nav {
    padding-top: 32px;
    max-height: 25em;

    .s-nav {
      @include media(tablet) {
        margin-left: 0;
        padding-left: 0;
        margin-top: 10%;
      }
    }
  }

  .o-search--block {
    @include media(tablet) {
      display: none;
    }
  }

  .c-nav {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    order: 3;
  }
}

// Exclusive home menu
.c-header--home {
  @include media(tablet) {
    width: 15%;
    border-bottom: none;
  }
}
.c-header__holder--home {
  @include media(tablet) {
    width: 100%;
    padding-bottom: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include media(wide) {
    padding-bottom: 0;
  }
}
.c-logo--home {
  @include media(tablet) {
    text-align: center;
    margin-bottom: 0;

    .o-logo {
      transform: rotate(0deg);
    }
  }
}

.o-description--home {
  @include media(tablet) {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 0 5%;
  }
}
.c-toggle--home {
  @include media(tablet) {
    display: none;
  }
}

.c-search--home {
  @include media(tablet) {
    display: none;
  }
}

// home components
.c-site {
  @include media(tablet) {
    text-align: right;
  }
}
.c-home {
  @include media(tablet) {
    width: 85%;
    height: 90vh;
    // background-color: darkolivegreen;
    display: inline-block;
    text-align: center;
  }
}

.c-home__context {
  @include media(tablet) {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.c-home__context--left {
  @include media(tablet) {
    width: 20%;
    vertical-align: bottom;
    // background-color: darkorange;
  }
}

.home__context--right {
  @include media(tablet) {
    width: 79%;

    // background-color: darkred;
  }
}

.c-context__item {
  @include media(tablet) {
    width: 100%;
    vertical-align: top;
    // background-color: darkslateblue;
  }
}

.c-context__item--top {
  @include media(tablet) {
    height: 20%;
    // background-color: darkturquoise;
  }
}

.c-context__item--bottom {
  @include media(tablet) {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 15%;
    // background-color: darkcyan;
  }

  @include media(wide) {
    padding-bottom: 20%;
  }
}

.o-navigation_title {
  @include media(tablet) {
    margin: 0;
    text-align: left;
    margin-left: 32px;
    margin-bottom: 16px;
    padding-top: 16px;
    color: #8a8a8a;
  }
}

.c-context__navigation {
  display: none;

  @include media(tablet) {
    display: block;
    padding-bottom: 30%;
    // background-color: rgba(169, 169, 169, 0.335);
  }
  .c-nav {
    @include media(tablet) {
      display: inline-block;
      overflow: unset;
    }

    ul {
      @include media(tablet) {
        list-style-type: none;
        text-align: left;
      }
    }
  }
}

.c-carousel__text {
  display: none;
  @include media(tablet) {
    display: block;
    width: 100%;

    padding-left: 32px;
    text-align: left;
    // background-color: rgba(255, 17, 17, 0.5);
  }
}

.o-carousel__title {
  @include media(tablet) {
    margin: 0;
    color: #8a8a8a;
  }
}

.o-home-carousel__post-title {
  @include media(tablet) {
    margin-top: 16px;
    margin-bottom: 32px;
  }
}

.o-carousel__more {
  @include media(tablet) {
    margin: 0;
  }
}
