.comments-area {
  display: flex;
  flex-wrap: wrap;

  @include media(tablet) {
    margin-left: 20%;
    text-align: left;
  }
}

.comment-respond {
  margin-bottom: 40px;
}
.comments-title {
  border-top: 1px solid #e1e1e1;
  padding-top: 40px;
  margin-bottom: 24px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  order: 2;
}

.comment-list {
  list-style-type: none;
  order: 3;
}

.comment-meta {
  position: relative;
  min-width: 290px;
  height: max-content;

  .comment-author {
    position: relative;
    img {
      position: absolute;
      width: 50px;
      height: 50px;
    }

    .fn {
      position: absolute;
      left: 60px;
      top: 5px;
    }
  }

  .comment-metadata {
    position: absolute;
    top: 25px;
    left: 60px;
  }
}

.comment-author {
  width: 50px;
  height: 50px;
  display: inline-block;
  img {
    width: 100%;
    border-radius: 40px;
  }
}

.says {
  display: none;
}
