/*------------------------------------*\
  #Navigation
\*------------------------------------*/
.c-nav {
  width: 100%;
  max-height: 0;
  transition: 1s ease-in-out;
  transition-delay: 0s;
  overflow: hidden;
  margin-left: 8px;
  @include media(tablet) {
    display: none;
    order: 1;
  }

  .s-nav {
    list-style-type: none;
    margin: 2%;

    li {
      margin-bottom: 24px;

      @include media(tablet) {
        margin-bottom: 10px;
      }
      a {
        transition: 0.2s all;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;

        @include media(tablet) {
          font-size: 14px;
          line-height: 17px;
          color: #000000;
        }
        &:hover {
          color: #8a8a8a;
        }
      }
    }

    @include media(tablet) {
      margin: 0;
    }
  }
}

/*------------------------------------*\
  #Header Holder toggled
\*------------------------------------*/
.c-header__holder.toggled {
  @include media(tablet) {
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    height: 20%;

    animation-name: increaseHeaderWidth;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    padding-left: 20%;
    padding-right: 5%;
  }

  .c-header__logo {
    @include media(tablet) {
      width: 50%;
      margin-bottom: 0;
      transform: rotate(0deg);
    }
  }

  .c-header__menu {
    padding: 0;
    width: 37px;
    height: 14px;
    text-align: right;
    padding-right: 26px;

    &::before {
      transform: rotate(45deg) translate(-14px, -5px);
    }
    &::after {
      transform: rotate(-45deg) translateX(-10px);
    }
    @include media(tablet) {
      width: 21%;
    }
  }

  .c-nav {
    padding-top: 32px;
    padding-bottom: 16px;
    max-height: 25em;
    text-align: left;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    order: 3;
    margin-top: 40px;
    @include media(tablet) {
      padding-top: 12px;
      margin-left: 5px;
      margin-top: 10px;
    }

    .s-nav {
      @include media(tablet) {
        margin-left: 0;
        padding-left: 0;
        margin-top: 10%;
      }
    }
  }

  .c-header__search {
    &::before {
      width: 30px;
      height: 1px;
      border-color: #fff;
      border-bottom: 1px solid #000;
      border-radius: 0;
      transform: rotate(-45deg) translateY(10px) translateX(-11px);
      top: 0;
      left: 0;
    }
    &::after {
      width: 30px;
      height: 0;
      transform: rotate(45deg) translateY(-10px) translateX(-8px);
    }
    @include media(tablet) {
      display: none;
    }
  }

  .js-logo.is-open.logo-out {
    @include media(tablet) {
      opacity: 0;
    }
  }

  .js-logo.is-open.logo-in {
    @include media(tablet) {
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }

  .js-navigation.is-open.nav-out {
    @include media(tablet) {
      opacity: 0;
    }
  }

  .js-navigation.is-open.nav-in {
    @include media(tablet) {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: 0.7s;
      animation-fill-mode: forwards;
    }
  }
}

.js-nav.has-animation-out {
  @include media(tablet) {
    animation-name: decreaseHeaderWidth;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

.nav-previous {
  font-size: 1.8em;
  border-bottom: 1px solid grey;
  transition: 1s all;
}
.nav-next {
  font-size: 1.8em;
  border-bottom: 1px solid grey;
  transition: 1s all;
}
