/*------------------------------------*\
  #Laptop/Desktop blur animations
\*------------------------------------*/

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }
}
@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }
}
// blur reverse
@keyframes blurReverse {
    0% {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
    99% {
        -webkit-filter: blur(0.5px);
        -moz-filter: blur(0.5px);
        -o-filter: blur(0.5px);
        -ms-filter: blur(0.5px);
        filter: blur(0.5px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}
@-webkit-keyframes blurReverse {
    0% {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
    99% {
        -webkit-filter: blur(0.5px);
        -moz-filter: blur(0.5px);
        -o-filter: blur(0.5px);
        -ms-filter: blur(0.5px);
        filter: blur(0.5px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

/*------------------------------------*\
  #fadein
\*------------------------------------*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*------------------------------------*\
  #fadeout
\*------------------------------------*/
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*------------------------------------*\
  #nav drop down 
\*------------------------------------*/
@keyframes navDropdown {
    0% {
        max-height: 0px;
    }

    100% {
        max-height: max-content;
    }
}
@-webkit-keyframes navDropdown {
    0% {
        max-height: 0px;
    }

    100% {
        max-height: max-content;
    }
}

/*------------------------------------*\
  #nav drop down reverse
\*------------------------------------*/
@keyframes navDropReverse {
    0% {
        height: 140px;
    }

    99% {
        height: 0px;
    }
    100% {
        display: none;
    }
}
@-webkit-keyframes navDropReverse {
    0% {
        height: 140px;
    }

    99% {
        height: 0px;
    }
    100% {
        display: none;
    }
}

/*------------------------------------*\
  #Laptop/Desktop header animations
\*------------------------------------*/

@keyframes increaseHeaderWidth {
    0% {
        width: 107px;
    }

    100% {
        width: 250px;
    }
}
@-webkit-keyframes increaseHeaderWidth {
    0% {
        width: 107px;
    }

    100% {
        width: 250px;
    }
}

// decrease header with
@keyframes decreaseHeaderWidth {
    0% {
        width: 250px;
    }

    99% {
        width: 90px;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes decreaseHeaderWidth {
    0% {
        width: 250px;
    }

    99% {
        width: 90px;
    }
    100% {
        width: 100%;
    }
}

/*------------------------------------*\
  #Preloader Circle animation
\*------------------------------------*/

@keyframes preloader {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    80% {
        width: 70px;
        height: 70px;
    }
    100% {
        border-radius: 50%;
        opacity: 0;
    }
}

@-webkit-keyframes preloader {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    80% {
        width: 70px;
        height: 70px;
    }
    100% {
        border-radius: 50%;
        opacity: 0;
    }
}

/**/

@keyframes myDisplay {
    0% {
        height: max-content;
    }

    100% {
        height: 100%;
    }
}
@-webkit-keyframes myDisplay {
    0% {
        height: max-content;
    }

    100% {
        height: 100%;
    }
}
