/*------------------------------------*\
  #Aside
\*------------------------------------*/

.c-aside {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9;
  background-color: $color__background-body;
  border-top: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;


  @include media(tablet) {
    display: inline-block;
    width: 180px;
    height: 100%;
    vertical-align: top;
    position: relative;
    border-top: none;
    padding-top: 5%;
  }

  @include media(wide) {
    padding-top: 5.5%;
  }
}

.c-aside--home {
  display: none;
  @include media(tablet) {
    width: 22%;
    height: 90%;
    display: inline-block;
  }

  .c-aside__content {
    @include media(tablet) {
      justify-content: flex-start;
      height: max-content;
      margin-top: 40%;

      flex-direction: column;
      padding-bottom: 0;
    }

    @include media(tablet) {
      margin-top: 45%;
    }
  }
}

.c-aside--blog {
  @include media(tablet) {
    display: none;
  }
}


/*------------------------------------*\
  #Aside content
\*------------------------------------*/
.c-aside__content {
  width: 95%;
  justify-content: center;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;


  @include media(tablet) {
    width: 100%;
    vertical-align: top;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  @include media(wide) {
    padding-bottom: 20%;
  }
}

.c-aside__context {
  width: max-content;

  @include media(tablet) {
    text-align: left;
  }
}

.c-aside__title {
  font-size: 18px;
  margin: 0;
  display: inline-block;
  text-transform: capitalize;

  @include media(tablet) {
    display: block;
    padding-bottom: 8px;
  }
}

.c-aside__title--mobile-hide{
  display: block;
  @include media(tablet){
    display: none;
  }
}

.c-aside__counter {
  font-size: 14px;

  &::before {
    content: "| \00a0";
    @include media(tablet) {
      content: "";
    }
  }
}

.c-aside__nav-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8a8a8a;

  @include media(tablet) {
    margin: 0;
    text-align: left;
    margin-left: 8px;
    margin-bottom: 16px;
    padding-top: 16px;
    color: #8a8a8a;
  }
}

.c-aside__nav {
  display: none;

  @include media(tablet) {
    display: block;
    padding-bottom: 20%;
  }

  @include media(wide) {
    padding-bottom: 30%;
  }

  .c-nav {
    @include media(tablet) {
      display: inline-block;
      overflow: unset;
    }

    ul {
      @include media(tablet) {
        list-style-type: none;
        text-align: left;
      }
    }
  }
}

.c-aside__carousel {
  display: none;
  @include media(tablet) {
    display: block;
    width: 100%;
    padding-left: 8px;
    text-align: left;
  }
  .c-carousel {
    margin-left: 0;
  }
}

