/*------------------------------------*\
  #Footer
\*------------------------------------*/
.c-footer {
  width: 100%;
  min-height: 9%;
  bottom: 0;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 10px;
  margin-top: 28px;

  @include media(tablet) {
    padding-left: 0;
    padding-right: 36px;
    padding-top: 1.5%;
    margin-top: 0px;
  }
}

.c-footer--home {
  @include media(tablet) {
    position: absolute;
    bottom: 10px;
    padding-left: 16%;
  }
}

.c-footer--404 {
  display: none;
}

.c-footer--normal {
  @include media(tablet) {
    background-color: $cavatina__neutral-white;
    padding-left: 270px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-bottom: 16px;
  }
}

.c-footer__context {
  width: 100%;
  height: 100%;
  margin-top: 36px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include media(tablet) {
    width: 100%;
    padding-bottom: 0px;
    margin-top: 10px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.c-footer__text {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: $cavatina_secondary_color;

  @include media(tablet) {
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 17px;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.c-footer__copy {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  order: 2;
}

.c-footer__nav {
  list-style-type: none;
  display: inline-block;
  padding-top: 27px;
  font-size: 12px;

  @include media(tablet) {
    padding-top: 0px;
  }

  .menu-item {
    display: inline-block;
    margin: 0px;
    color: $cavatina_secondary_color;
    font-size: 12px;
    a {
      font-size: 12px;
    }

    &:nth-child(2) {
      a {
        &::before {
          content: " | \00a0";
          display: inline-block;
          color: $cavatina_secondary_color;
        }
      }
    }
    &:nth-child(n + 3) {
      a {
        &::before {
          content: " & \00a0";
          display: inline-block;
          color: $cavatina_secondary_color;
        }
      }
    }
  }

  .sub-menu {
    display: none;
  }
}

.c-footer__text__link {
  line-height: 17px;
  color: $cavatina_primary_color !important;
  margin: 0 2px;
  padding-bottom: 1px;

  &:hover {
    color: $cavatina__main-primary-light-color !important;
  }
}
