/*------------------------------------*\
  #Footer
\*------------------------------------*/
.c-footer {
  width: 100%;
  height: 9%;
  bottom: 0;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 10px;
  margin-top: 28px;

  @include media(tablet) {
    padding-left: 0;
    padding-right: 36px;
    padding-top: 1.5%;
    margin-top: 0px;
  }
}

.c-footer__context {
  width: 100%;
  height: 100%;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include media(tablet) {
    width: 100%;
    margin-top: 0;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.c-footer__text {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  margin-top: 31px;
  color: $cavatina_secondary_color;

  @include media(tablet) {
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 17px;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.c-footer__text__link {
  font-size: 12px;
  line-height: 17px;
  color: $cavatina_primary_color !important;
  margin: 0 2px;
  padding-bottom: 1px;

  &:hover {
    color: $cavatina__main-primary-light-color !important;
  }
}
