$cavatina__neutral-dark-gray-color: #767676;
$cavatina__neutral-gray-color: #dfdfdf;
$cavatina__neutral-gray-light-color: #f4f4f4;
$cavatina__neutral-white: #ffffff;
$cavatina__service-error-color: #ff3636;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #e1e1e1;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: rgb(65, 65, 65);
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #767676; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: $cavatina__neutral-dark-gray-color;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$cavatina_primary_color: var(--cavatina_primary-color);
$cavatina_secondary_color: var(--cavatina_secondary-color);
$cavatina_accent_color: var(--cavatina_accent-color);

$cavatina__main-primary-color: #000000;
$cavatina__main-primary-light-color: #767676;
