@font-face {
  font-family: "montserratregular";
  src: url("../../assets/fonts/montserrat-regular-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratsemibold";
  src: url("../../assets/fonts/montserrat-semibold-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$cavatina__primary-font: "montserratregular";
$cavatina__secondary-font: "montserratsemibold";

$font__main: "montserratregular";

$font__regular: "montserratregular";
$font__semi-bold: "montserratsemibold";
