ul,
ol {
  margin: 0;
  padding: 0;

  // list-style-type: none; qa-
}
ol {
  list-style: decimal;
  // list-style-type: none; qa-
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

li {
  margin: 0 0 0.5em;
}
