.c-page {
  @include media(tablet) {
    text-align: right;
  }
}

.c-home {
  @include media(tablet) {
    width: 85%;
    height: 90vh;
    // background-color: darkolivegreen;
    display: inline-block;
    text-align: center;
  }
}

.c-home__context {
  @include media(tablet) {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.c-home__context--left {
  @include media(tablet) {
    width: 20%;
    vertical-align: bottom;
    // background-color: darkorange;
  }
}

.c-home__item {
  @include media(tablet) {
    width: 100%;
    vertical-align: top;
    // background-color: darkslateblue;
  }
}

.c-home__item--top {
  @include media(tablet) {
    height: 20%;
    // background-color: darkturquoise;
  }
}

.c-home__item--bottom {
  @include media(tablet) {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 10%;
    // background-color: darkcyan;
  }

  @include media(wide) {
    padding-bottom: 20%;
  }
}

.c-home__navigation {
  display: none;

  @include media(tablet) {
    display: block;
    padding-bottom: 30%;
    // background-color: rgba(169, 169, 169, 0.335);
  }
  .c-nav {
    @include media(tablet) {
      display: inline-block;
      overflow: unset;
    }

    ul {
      @include media(tablet) {
        list-style-type: none;
        text-align: left;
      }
    }
  }
}

.c-home__carousel {
  display: none;
  @include media(tablet) {
    display: block;
    width: 100%;

    padding-left: 16px;
    text-align: left;
    // background-color: rgba(255, 17, 17, 0.5);
  }
}

.text-carousel {
  width: 50%;
}
