.o-preloader {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: $color__background-body;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;

  text-align: center;
}

.o-preloader__loader {
  width: 100%;
  height: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.o-preloader__circle {
  width: 0px;
  height: 0px;
  opacity: 0;
  border: 4px solid #f7484e;
  border-radius: 50%;

  animation-name: preloader;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
