.u-default-max-width {
  @extend %responsive-aligndefault-width;
}

.u-wide-max-width {
  @extend %responsive-alignwide-width;
}

.u-full-max-width {
  @extend %responsive-alignfull-width;
}

.u-header-space {

  width: 100%;
  height: 90px;

  @include media(tablet) {
    display: none;
  }
}

.skip-link {
  display: none;
}

.u-header-space-mobile {
  width: 100%;
  height: 60px;
}

.u-half-border {
  width: 70%;
  margin-left: -10%;
  margin-top: 16px;
  margin-bottom: 24px;
  border-top: 1px solid #e1e1e1;

  @include media(tablet) {
    width: 80%;
    margin-left: 20%;
  }
}



