/*------------------------------------*\
  #Page
\*------------------------------------*/
.o-page {
  width: 100%;
  height: calc(100vh);
  max-height: max-content;

  @include media(tablet) {
    text-align: left;
    max-height: 100vh;
    padding-left: 90px;
  }
}

.o-page--home {
  height: max-content;
  @include media(tablet) {
    height: calc(100vh);
    padding-left: 15%;
  }

  .c-footer {
    padding-left: 20px;
    padding-right: 36px;
  }
}
.o-page--404 {
  height: calc(100vh - 125px);

  @include media(tablet) {
    height: calc(100vh);
  }
}
/*------------------------------------*\
  #Page main
\*------------------------------------*/

.o-page__main {
  animation-name: blurReverse;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  overflow: auto;
  height: max-content;
  padding-bottom: 75px;

  @include media(tablet) {
    width: calc(99% - 175px);
    height: 99%;
    overflow-x: hidden;
    display: inline-block;
    text-align: left;
    padding-bottom: 0px;
  }
}

.o-page__main--blur {
  animation-name: blur !important;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.o-page--home {
  .o-page__main {
    height: 100%;
    padding-bottom: 0;
    @include media(tablet) {
      width: calc(99% - 22%);
      height: 90%;
    }
  }
}

.o-page__main--page-single {
  .c-footer {
    @include media(tablet) {
      padding-right: 0;
    }
  }
}

// Search Page

.o-page__main--search {
  .c-footer {
    @include media(tablet) {
      padding-right: 65px;
    }
  }
}

// Index pagge
.o-page__main--posts {
  .c-footer {
    @include media(tablet) {
      padding-right: 36px;
    }
  }
}

.o-page__main__header {
  width: 100%;
}

.o-page__main--privacy {
  .c-footer {
    @include media(tablet) {
      padding-right: 60px;
    }
  }
}

// Single Blog
.o-page__main--blog {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .c-footer {
    @include media(tablet) {
      width: 1114px;

      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Project pages
.o-page__main--projects {
  .c-footer {
    padding-right: 45px;
  }
}

.o-page__main__header--align-left {
  text-align: left;
}

.o-page__main--no-bottom-space {
  padding-bottom: 0;
}

/*------------------------------------*\
  #Page col
\*------------------------------------*/

.o-page__col {
  @include media(tablet) {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

/*------------------------------------*\
  #Page 404
\*------------------------------------*/
.o-page__main--404 {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 25%;

  @include media(tablet) {
    padding: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    width: 100%;
  }

  form {
    width: 90%;
    margin-top: 16px;
  }

  .c-footer {
    display: none;
  }
}

.o-page__main__error-404 {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  @include media(tablet) {
    width: 100%;
  }

  .page-content {
    p {
      margin-bottom: 32px;
    }
  }
}

/*------------------------------------*\
    #Page Main - Error
\*------------------------------------*/
.o-page__main__error {
  font-size: 24px;
  margin: 0;
  line-height: 41px;
  font-family: $font__semi-bold;
  color: #000000;

  font-weight: normal;
}

.o-page__main__error-desc {
  font-family: $font__regular;
  font-size: 19px;
  line-height: 30px;
  color: $cavatina__main-primary-light-color;
  text-align: center;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 0;
}

/*------------------------------------*\
  #Search nothing found
\*------------------------------------*/
.o-page__main--no-results {
  width: 100%;
  height: max-content;

  @include media(tablet) {
    width: 750px;
    max-width: 70%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .o-page__main__desc {
    margin-bottom: 64px;
  }

  .o-page__main__header {
    width: 100%;
  }
}

.o-page__main__content {
  width: 100%;

  .search-submit-mobile {
    display: none;
  }
}
