.c-widget__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  margin: 0;
  color: #000000;
}

.c-widget__text {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #767676;
}

.widget-area {
  display: none;
}
