.c-widget__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  margin: 0;
  color: #000000;
}

.c-widget__text {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  transition: 0.5s all;
  color: #767676;

  &:hover {
    color: #000000;
  }
}

.widget-area {
  display: none;
}
