.c-widget__title {
  font-family: $font__regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  margin: 0;
  color: $cavatina_primary_color;
}

.c-widget__content {
  width: 100%;
}

.c-contact__widget {
  a {
    font-size: 14px;
    line-height: 17px;
    color: $cavatina_secondary_color;

    &:hover {
      color: $cavatina_primary_color;
    }
  }
}

.c-widget__text {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  transition: 0.5s all;
  color: $cavatina__main-primary-light-color;

  &:hover {
    color: $cavatina_primary_color;
  }
}
